# Dependencies
/node_modules

# Next.js build output
/.next/
/out/

# Local environment files
.env*.local
.env

# Build files & Logs
/build
/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
